* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header part start */
.navbar {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    align-items: center;
}

.title {
    color: rebeccapurple;
    font-size: 40px;
    font-weight: 700px;
}

.navbar>ul {
    display: flex;
}

.navbar li {
    list-style: none;
    margin-right: 40px;
}

.navbar a {
    text-decoration: none;
    color: red;
}

.color-text {
    color: orangered;
}

.banner-text {
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url('./banner/banner2.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container {
    text-align: right;
    margin-right: 230px;
    

}

.text-info {
    font-size: 65px;

}

.paragraph {
    font-size: 16px;
    text-align: right;
    font-weight: 400;
    line-height: 26px;
}
.btn{
    border-radius: 5px;
    background: #F15B22;
    width: 100px;
    height: 44px;
    color: white;

}

/* header part end */